<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/js_advence23-1.css">
</head>
<body>
    <h1>파일이 성공적으로 업로드 된지는 난 잘 모르겠고</h1>
    <span>title: <%= title %></span>

    <div>
        <div><span><%= userInfo.urID %></span>가 신박한 너의 아이디</div>
        <div><span><%= userInfo.password %></span>가 그럭저럭 기억하기 좋은 너의 비번</div>
        <div><span><%= userInfo.name %></span>님 환영환여어엉</div>
        <div><span><%= userInfo.urAge %></span>가 너의 나이인데...???</div>
        
        <span>img:</span>
        <img src="<%= src %>" alt="기래 스샷입네다" width="300">
    </div>
</body>
</html>