<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>파일이 성공적으로 업로드 되었습니다.</h1>
    <span>title: <%= title %></span>
    
    <div>
        <div><span><%= userInfo.urID %></span>님 환영합니다!</div>
        <div>비밀번호는 <span><%= userInfo.password %></span>이군요!!</div>
        <div><span><%= userInfo.name %></span>님 환영합니다!</div>
        <div>나이는 <span><%= userInfo.urAge %></span>이군요!!</div>
    
        img: 
        <img src="<%= src %>" alt="파일" width="300">
    </div>
</body>
</html>