<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <h2>GET 방식으로 요청하는 폼</h2>
   
    <form action="/postForm" method="post">
        <label for="name">이름</label>
        <input type="text" name="name" placeholder="넣어">
        <br>
        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender" id="male" value="male">
            <label for="male">남자</label>
            <input type="radio" name="gender" id="female" value="female">
            <label for="female">여자</label>
        </fieldset>
        <fieldset>
            <legend>생년월일</legend>
            <select name="year" id="year">
                <% for (let i = 1970; i <= 2025; i++) { %>
                    <option value="<%= i %>"><%= i %></option>
                <% } %>
            </select>
            <span>년</span>
            <select name="month" id="month">
                <% for (let i = 1; i <= 12; i++) { %>
                    <option value="<%= i %>"><%= i %></option>
                <% } %>
            </select>
            <span>월</span>
            <select name="day" id="day">
                <% for (let i = 1; i <= 31; i++) { %>
                    <option value="<%= i %>"><%= i %></option>
                <% } %>
            </select>
            <span>일</span>
        </fieldset>
        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="hobby" id="travel" value="travel">
            <label for="travel">여행</label>
            <input type="checkbox" name="hobby" id="fashion" value="fashion">
            <label for="fashion">패션</label>
            <input type="checkbox" name="hobby" id="food" value="food">
            <label for="food">음식</label>
        </fieldset>
        <fieldset>
            <legend>Ur choice</legend>
            <label for="color">Favorite Color</label>
            <input type="color" name="color" id="color" value="#000000">
            <label for="netWorth">Net Worth</label>
            <input type="range" name="netWorth" id="netWorth" min="0" max="1000" step="200" list="tickmarks">
            <datalist id="tickmarks">
                <% for (let i = 0; i <= 1000; i += 200) { %>
                    <option value="<%= i %>" label="<%= i %>"></option>
                <% } %>
            </datalist>
        </fieldset>
        <br><br><br>
        <button>다메닝겐 생성하기</button>
    </form>
</body>
</html>
